.box{
    width: 142px;
    height: 200px;
    border: 2px invisible #ff9fff70;
}
.box.purple{
    background-color: #ff9fff24;
    border-color: #ff9fff70;
    width: 150px;
    height: 205px;
}
section.istorija{
    top: -190px;
    border: 2px solid#ff9fff70;
    height: 450px;
    min-height: 200px;
    position: relative;
}

.istorija{
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 200px;
}
.istorija.box{
    display: inline-block;
    position: relative;
}
.image-style-1{
    width: 150px;
    height: 210px;
    position:relative;
    top: 10px;
    left: 0px;
}
.image-style-2{
    width: 280px;
    height: 175px;
    position:relative;
    top: 75px;
    right: -1682px;
}

.Istorija.box h2{
    top: -405px;;
    font-size: 20px;
    position:relative;
    bottom: 225px;
    left: 160px;
}
.Istorija.box p{
    font-size: 18px;
    color: rgb(254, 218, 218);
    position:relative;
    top: -430px;
    bottom: 0px;
    left: 160px;
    margin-right: -1650px;
}
.Istorija.box h3{
    color: rgb(254, 218, 218);
    top: -420px;
    font-size: 20px;
    position:relative;
    bottom: 225px;
    left: 160px;
    margin-right: -150px;
}
.Istorija.box h4{
    color: rgb(254, 218, 218);
    top: -450px;
    font-size: 20px;
    position:relative;
    bottom: 225px;
    margin-left: 5px;
    margin-right: -150px;
}
.Istorija.p{
    font-size: 18px;;
    color: rgb(254, 218, 218);
    position:relative;
    margin-left: -155px;
    margin-top: -30px;
}
ul{
    font-size: 18px;;
    color: rgb(254, 218, 218);
    position:relative;
    margin-left: -20px;
    margin-top: -435px;
    margin-right: -800px;
}
h5{
    color: rgb(254, 218, 218);
    top: -180px;
    font-size: 20px;
    position:relative;
    bottom: 225px;
    left: 0px;
    margin-right: -170px;
}
.Istorija.p1{
    font-size: 18px;;
    color: rgb(254, 218, 218);
    position:relative;;
    margin-left:-160px;
    margin-top: 260px;
}
h6{
    color: rgb(254, 218, 218);
    top: -70px;
    font-size: 20px;
    position:relative;
    bottom: 225px;
    left: 0px;
    margin-right: -170px;
}
.Istorija.p2{
    font-size: 18px;;
    color: rgb(254, 218, 218);
    position:relative;;
    margin-left:-160px;
    margin-top: 370px;
}
.Istorija.h6{
    color: rgb(254, 218, 218);
    font-size: 20px;
    position:relative;
    bottom: 225px;
    left: 0px;
    margin-right: -170px;
    margin-top:-150px;
}
.Istorija.title{
    color: rgb(254, 218, 218);
    font-size: 20px;
    position:relative;
    margin-top:450px;
}

