body {
    margin: 0;
    padding: 0;
    background-color: rgb(128, 198, 202);
    box-sizing: border-box;
}

h1{
    color: black;
    font-size: 24px;
    margin-top: 62px;
    margin-left: 244px;
    display:inline-block;
    padding: 24px;
    border-width: 4px;
    align-content: center;
}

.topHeader {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: space-between;
}

div {
    display: flex;
}

.menu {
    display: flex;
}

.linksContainer {
    margin-top: 70px;
    margin-right: 192px;
    display: flex;
    font-size: 18px;
    color: #00000050;
    font-family: monospace;
    column-gap: 40px;
}

.Logo {
    margin-top: 56px;
    margin-left: 191px;
}

.T {
    margin-top: 61px;
    margin-left: 204px;
}
