body {
    margin: 0;
    height: 500vh;
    width: 170vh;
    font-family: 'Times New Roman', Times, serif;
}

.topHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.dot {
    margin-top: 50px;
}

.Logo {
    margin-top: 56px;
    margin-left: 191px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: top;
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding: 23px;
    margin-top: 70px;
    margin-right: 192px;
    text-align: center;
    column-gap: 40px;
    color: #00000050;
    font-size: 18px;
}

.firstsection h1 {
    position: absolute;
    display: flex;
    font-size: 48px;
    top: 283px;
    left: 190px;
    font-weight: 700;
}

.firstsection h2 {
    position: absolute;
    display: flex;
    font-size: 21px;
    top: 420px;
    left: 190px;
    color: #7D7987;
    font-weight: 100;
}

.firstsection button {
    position: absolute;
    display: flex;
    justify-content: center;
    line-height: 35px;
    top: 561px;
    left: 190px;
    width: 200px;
    height: 55px;
    padding: 10px 12px;
    background-color: #458FF6;
    border: 1px solid #458FF6;
    border-radius: 55px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.firstsection button:hover {
    background: transparent;
    color: #458FF6;
}

.illiustration {
    position: absolute;
    top: 177px;
    right: 163px;
}

.secondsection h2 {
    position: absolute;
    display: flex;
    top: 967px;
    left: 850px;
    font-size: 36px;
    padding-bottom: 10px;
}

.secondsection button {
    position: absolute;
    display: flex;
    top: 1069px;
    left: 905px;
    width: 56px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
}

.p {
    position: absolute;
    width: 952px;
    height: 60px;
    letter-spacing: 1, 2;
    text-align: center;
    font-size: 18px;
    color: #7D7987;
    font-weight: 100;
    top: 1120px;
    left: 475px;
}

.vector {
    position: absolute;
    top: 1220px;
    left: 0;
}

.element {
    position: absolute;
    top: 1560px;
    right: 191px;

}

.box1 {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    width: 350px;
    height: 354px;
    top: 1280px;
    right: 250px;
    box-shadow: 23px 23px 50cqi -10px rgba(69, 143, 246, 0.200);
    -webkit-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    -moz-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    cursor: pointer;
}

.box1:hover {
    background-color:#458FF6;
    color: white;
}

.consultation {
    position: absolute;
    top: 1420px;
    right: 438px;
    font-size: 24px;
}

.con{
    position: absolute;
    top: 1470px;
    right: 320px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #7D7987;
}

.box2 {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    width: 350px;
    height: 354px;
    top: 1280px;
    right: 800px;
    box-shadow: 23px 23px 50cqi -10px rgba(69, 143, 246, 0.200);
    -webkit-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    -moz-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    cursor: pointer;
}

.box2:hover {
    background-color:#458FF6;
    color: white;
}

.pharmacy {
    position: absolute;
    top: 1420px;
    right: 940px;
    font-size: 24px;
}

.phar {
    position: absolute;
    top: 1470px;
    right: 880px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #7D7987;
}

.box3 {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    width: 350px;
    height: 354px;
    top: 1280px;
    left: 250px;
    box-shadow: 23px 23px 50cqi -10px rgba(69, 143, 246, 0.200);
    -webkit-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    -moz-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    cursor: pointer;
}

.box3:hover {
    background-color:#458FF6;
    color: white;
}

.Search {
    position: absolute;
    top: 1420px;
    left: 280px;
    font-size: 24px;
}

.sear {
    position: absolute;
    top: 1470px;
    left: 280px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #7D7987;
}

.box4 {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    width: 350px;
    height: 354px;
    top: 1660px;
    right: 250px;
    box-shadow: 23px 23px 50cqi -10px rgba(69, 143, 246, 0.200);
    -webkit-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    -moz-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    cursor: pointer;
}

.box4:hover {
    background-color:#458FF6;
    color: white;
}

.tracking {
    position: absolute;
    top: 1800px;
    right: 478px;
    font-size: 24px;
}

.tra {
    position: absolute;
    top: 1850px;
    right: 300px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #7D7987;
}

.box5 {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    width: 350px;
    height: 354px;
    top: 1660px;
    right: 800px;
    box-shadow: 23px 23px 50cqi -10px rgba(69, 143, 246, 0.200);
    -webkit-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    -moz-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    cursor: pointer;
}

.box5:hover {
    background-color:#458FF6;
    color: white;
}

.emergency {
    position: absolute;
    top: 1800px;
    right: 950px;
    font-size: 24px;
}

.emerg {
    position: absolute;
    top: 1850px;
    right: 862px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #7D7987;
}

.box6 {
    position: absolute;
    display: inline-block;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;
    border: 1px solid white;
    width: 350px;
    height: 354px;
    top: 1660px;
    left: 250px;
    box-shadow: 23px 23px 50cqi -10px rgba(69, 143, 246, 0.200);
    -webkit-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    -moz-box-shadow: 23px 23px 50px -10px rgba(69, 143, 246, 0.200);
    cursor: pointer;
}

.box6:hover {
    background-color:#458FF6;
    color: white;
}

.frame.box {
    position: absolute;
    width: 68px;
    height: 95px;
    top:1320px;
    right: 500px;
}

.pharmacyimg {
    position: absolute;
    width: 68px;
    height: 95px;
    top:1320px;
    right: 1050px;
}

.search {
    position: absolute;
    width: 100px;
    height: 95px;
    top:1320px;
    left: 280px;
}

.track {
    position: absolute;
    width: 68px;
    height: 95px;
    top:1700px;
    right: 500px;
}

.care {
    position: absolute;
    width: 80px;
    height: 95px;
    top:1685px;
    right: 1035px;
}
