body {
    margin: 0;
    height: 500vh;
    font-family: 'Times New Roman', Times, serif;
}

.topHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
}

.dot {
    margin-top: 50px;
}

.Logo {
    margin-top: 56px;
    margin-left: 191px;
}

.menu {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: top;
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-decoration: none;
    padding: 23px;
    margin-top: 70px;
    margin-right: 192px;
    text-align: center;
    column-gap: 40px;
    color: #00000050;
    font-size: 18px;
}

.firstsection h1{
    position: absolute;
    display: flex;
    font-size: 48px;
    top: 283px;
    left: 190px;
    font-weight: 700;
}

.firstsection h2 {
    position: absolute;
    display: flex;
    font-size: 21px;
    top: 420px;
    left: 190px;
    color: #7D7987;
    font-weight: 100;
}

.firstsection button {
    position: absolute;
    display: flex;
    justify-content: center;
    line-height: 35px;
    top: 561px;
    left: 190px;
    width: 200px;
    height: 55px;
    padding: 10px 12px;
    background-color: #458FF6;
    border: 1px solid #458FF6;
    border-radius: 55px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.firstsection button:hover{
    background: transparent;
    color: #458FF6;
}

.illiustration {
    position: absolute;
    top: 177px;
    right: 163px;
}

.secondsection h2 {
    position: absolute;
    display: flex;
    top: 967px;
    left: 850px;
    font-size: 36px;
    padding-bottom: 10px;
}

.secondsection button{
    position: absolute;
    display: flex;
    top: 1069px;
    left: 905px;
    width: 56px;
    height: 2px;
    background-color: black;
    border-radius: 5px;
}

.secondsection p{
    position: absolute;
    width: 952px;
    height: 60px;
    letter-spacing: 1,2;
    text-align: center;
    font-size: 18px;
    color: #7D7987;
    font-weight: 100;
    top: 1120px;
    left: 475px;
}

.vector {
    position: absolute;
    top: 1220px;
    left: 0;
}

.element {
    
}