* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.topHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0;
}

.menu {
    display: flex;
}

.linksContainer {
    position: relative;
    display: flex;
    padding: 23px;
    top: 70px;
    right: 192px;
    font-size: 18px;
    column-gap: 40px;
    font-family: 'Times New Roman', Times, serif;
    color: #00000050;
    list-style: none;
    text-decoration: none;
}

.Logo {
    margin-top: 50px;
    margin-left: 191px;
    display: inline-block;
}

.illiustration {
    position: fixed;
    top: 177px;
    right: 163px;
}

.Dot {
    position: absolute;
    left: 50px;
    top: 160px;
}

h1 {
    position: fixed;
    top: 283px;
    left: 190px;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}

.healthcare {
    position: absolute;
    top: 420px;
    left: 190px;
    font-size: 21px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 300;
    color: #7D7987;
}

.consult {
    position: absolute;
    top:561px;
    left: 190px;
}

.service {
    display:flex;
}
   /* padding: 23px;
    margin-top: 70px;
    margin-right: 192px;
    font-size: 18px;
    row-gap: 40px;