body {
    font-family:'Times New Roman', Times, serif;
    margin: 40px;
    background-color: #ffffff;
    color:rgb(35, 86, 40)
}

.invoice-container {
    max-width: 900px;
    margin: auto;
    background-color: #ffffff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 5px 50px rgba(35, 86, 40, 0.2);
}

h1 {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
    margin-bottom: 25px;
    color: rgb(35, 86, 40);
}

