body {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    width: 1600px;
    margin: 60px auto;
    justify-content: center;

}

h1 {
    text-align: center;
    margin-top: 20px auto;
}